.main-header .slicknav_btn {
  background-color: var(--primary-color);
}

.thumb-image img {
  width: 100%;
  position: relative;
  z-index: 999;
  margin-bottom: 30px;
  border-radius: 20px !important;
  height: 200px;
  object-fit: cover;
}

.main-menu ul {
  list-style: none;
}

.mkdf-portfolio-list-holder.mkdf-pl-gallery-overlay article {
  overflow: hidden;
}

.dora-elementor-portfolio {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

.dora-elementor-portfolio .mkdf-pl-item-inner {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}

.dora-elementor-portfolio .mkdf-pli-image {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
}

.dora-elementor-portfolio .mkdf-pli-text-holder {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  text-align: center;
  box-sizing: border-box;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.dora-elementor-portfolio .mkdf-pli-link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.dora-elementor-portfolio:hover .mkdf-pli-text-holder {
  opacity: 1;
}

.dora-elementor-portfolio .mkdf-pli-text-wrapper {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.dora-elementor-portfolio .mkdf-pli-text {
  position: relative;
  display: table-cell;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.dora-elementor-portfolio .mkdf-pli-text .mkdf-pli-title {
  max-width: 90%;
  margin: auto;
  position: relative;
  z-index: 999;
}

.dora-elementor-portfolio .mkdf-pli-text .mkdf-pli-category-holder {
  position: relative;
  display: block;
  margin: 5px 0 0;
}

.dora-elementor-portfolio .mkdf-pli-text .mkdf-pli-category-holder a {
  position: relative;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.hero-slider-item {
  display: table;
  width: 100%;
  height: 100vh;
}

.hero-slider-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.hero-slider .swiper-slide .hero-slider-item:after {
  position: absolute;
  inset: 0; /* shorthand for top:0; left:0; width:100%; height:100%; */
  background: #000;
  content: "";
  z-index: 1;
  opacity: 0.3;
}

/* Put your inner content above the overlay */
.hero-slider .swiper-slide .hero-slider-item > * {
  position: relative;
  z-index: 2;
}
